/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

@font-face {
    font-family: 'Didot';
    src: url('../fonts/didot.eot');
    src: url('../fonts/didot.eot') format('embedded-opentype'),
    url('../fonts/didot.woff2') format('woff2'),
    url('../fonts/didot.woff') format('woff'),
    url('../fonts/didot.ttf') format('truetype'),
    url('../fonts/didot.svg#Didot') format('svg');
}

@font-face {
    font-family: 'AvenirItalic';
    src: url('../fonts/avenir-bookoblique.eot');
    src: url('../fonts/avenir-bookoblique.eot') format('embedded-opentype'),
    url('../fonts/avenir-bookoblique.woff') format('woff'),
    url('../fonts/avenir-bookoblique.ttf') format('truetype'),
    url('../fonts/avenir-bookoblique.svg#AvenirItalic') format('svg');
}

@font-face {
    font-family: 'AvenirRegular';
    src: url('../fonts/avenir-book.eot');
    src: url('../fonts/avenir-book.eot') format('embedded-opentype'),
    url('../fonts/avenir-book.woff') format('woff'),
    url('../fonts/avenir-book.ttf') format('truetype'),
    url('../fonts/avenir-book.svg#AvenirRegular') format('svg');
}

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    background: #000;
    color: #FFF;
    font-family: 'AvenirRegular', Arial, sans-serif;
    font-size: 1em;
    line-height: 1.4;
}

img {
    max-width: 100%;
}

input {
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="text"] {
    border: 0;
    padding: 0.2em;
    margin-bottom: 0.8em;
    width: 100%;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding: 0.2em 0.2em 0 2em;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 0.1em;
    width: 1.5em; height: 1.5em;
    border: 1px solid #FFF;
    background: #000;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 0.08em; left: 0;
    font-size: 1.1em;
    padding-right: 0.43em;
    background: #d0b62b;
    color: #d0b62b;
    transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}


input[type="submit"],
button {
    border: 0;
    background: #d0b62b;
    color: #FFF;
    font-family: 'AvenirRegular', Arial, sans-serif;
    font-size: 0.8em;
    padding: 1em 3em;
    text-transform: uppercase;
    width: 100%;
}

label {
    font-family: 'Didot', 'Times New Roman', serif;
    font-style: italic;
}

h1,
h2 {
    font-family: 'Didot', 'Times New Roman', serif;
    font-style: italic;
    font-weight: lighter;
    margin: 1em 0;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: 2em;
    letter-spacing: 0.1em;
    line-height: 1.1em;
}

h2 {
    font-size: 1.5em;
    line-height: 1.1em;
    margin: 0 0 1em 0;
}

a {
    color: #FFF;
    text-decoration: none;
}

p {
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

ul {
    margin: 0 0 1em;
    padding: 0;
}

li {
    list-style: none;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

.header-container {
    background: #eceded;
    padding: 0.5em;
    position: relative;
}

.header {
    border: 2px solid #000;
    color: #000;
    padding: 0 2em 1em;
    text-align: center;
}

.header h1 {
    font-size: 3em;
    margin-bottom: 0;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
    transform: rotate(-8deg);
}

.header span {
    padding-right: 0.3em;
    white-space: nowrap;
    word-spacing: -0.2em;
}

.header p {
    font-family: 'AvenirItalic', Arial, sans-serif;
    font-size: 0.6em;
    font-style: italic;
    -ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
    letter-spacing: 0.1em;
    margin-top: 0;
    padding-right: 0.2em;
    transform: rotate(-8deg);
}

.header .respond {
    background: url('../img/arrow-small.png') top left no-repeat;
    display: block;
    height: 50px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;;
    width: 22px;
}

.logo {
    display: block;
    margin: -2.15em auto 0;
    width: 70px;
    height: auto;
}

.locations-container {
    background: url('../img/bath.jpg') no-repeat top center;
}

.locations {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 0.8em;
    letter-spacing: 0.8px;
    padding: 1em 1em 6em 1em;
}

.location {
    margin: 2em 0;
}

.location address {
    font-family: 'AvenirItalic', Arial, sans-serif;
    letter-spacing: 0.11em;
    margin: 1em 0;
}

.location strong {
    font-family: 'AvenirRegular', Arial, sans-serif;
    font-style: normal;
}

.location-map {
    height: 0;
    overflow: hidden;
    padding-bottom: 75%;
    position: relative;
}

.location-map .map-canvas {
    color: #000;
    height: 100%;
    left: 0;
    position: absolute;
    top:0;
    width: 100%;
}

.location-map .map-canvas img {
    max-width: none;
}

.locations p {
    font-size: 0.9em;
}

.location-button {
    border: 1px solid #FFF;
    font-size: 0.8em;
    letter-spacing: 0.3em;
    padding: 0.7em 0.9em 0.5em;
    text-transform: uppercase;
}

.location-button:hover,
.location-button:active {
    background: #FFF;
    color: rgba(0, 0, 0, 0.6);
}

.response-form {
    text-transform: uppercase;
    padding: 0 1em 2em;
}

.response-form h1 {
    font-size: 5em;
    margin: 0.5em 0 0.2em;
}

.response-form p {
    text-align: center;
    font-size: 0.7em;
}

.response-form label {
    letter-spacing: 0.1em;
}

.response-form label[for="entry.1583145297"] {
    display: none;
}

.song-choice {
    background: #d0b62b;
    padding: 2em 1em;
    text-align: center;
}

.song-choice h2 {
    color: #000;
}

.song-choice input[type="text"] {
    font-size: 1.3em;
    width: 100%;
}

.song-choice button {
    background: #000;
    color: #FFF;
    margin: 1em 0;
}

#invite-thanks,
#song-request-thanks {
    display: none;
}

.registry {
    background: #eceded;
    color: #000;
    padding: 2em 1em;
    text-align: center;
}

.registry .gift-registry-logo {
    margin: 2em 0;
}

.registry p {
    font-size: 0.6em;
}

.footer-container footer {
    color: white;
    text-transform: uppercase;
}

.footer-container dl {
    background: #000;
    margin: 4em 0;
}

.footer-container dt,
.footer-container dd {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    width: 49%;
}

.footer-container dt {
    font-family: 'Didot', 'Times New Roman', serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight: lighter;
    padding-right: 5%;
    text-align: right;
}

.footer-container address {
    font-style: normal;
    font-size: 0.7em;
    letter-spacing: 0.8px;
    line-height: 1.7;
    padding-left: 5%;
    text-align: left;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 650px) {

    html {
        font-size: 130%;
    }

    .header-container {
        padding: 1em;
    }

    .header h1 {
        font-size: 5em;
    }

    .header p {
        font-size: 0.7em;
        letter-spacing: 0.37em;
    }

    .header .respond {
        background: url('../img/arrow.png') top left no-repeat;
        height: 100px;
        width: 44px;
    }

    .logo {
        width: 127px;
    }

    .locations-container {
        background: url('../img/bath.jpg') no-repeat top center;
        font-size: 0.8em;
    }

    .locations h1 {
        font-size: 4em;
    }

    .location-map {
        float: left;
        padding-bottom: 35%;
        margin-left: 10%;
        width: 49%;
    }

    .location {
        float: right;
        margin: 0.4em 0 0 0;
        padding-left: 5%;
        width: 39%;
    }

    .locations p {
        clear: both;
        padding: 3em 0 1em;
        text-align: center;
    }

    .song-choice,
    .registry {
        padding: 4em 1em;
    }

    .song-choice input[type="text"] {
        width: 50%;
    }

    .song-choice button {
        display: block;
        margin: 0 auto;
        width: 20%;
    }

    .response-form input[type="submit"],
    .response-form input[type="text"] {
        display: inline-block;
        width: 30%;
    }

    .response-form input[type="submit"] {
        margin-left: 40.6%;
    }

    .response-form label {
        display: inline-block;
        padding-right: 1em;
        text-align: right;
        width: 40%;
    }

    .response-form label[for="entry.1583145297"] {
        display: inline-block;
    }

    .response-form .response-boolean {
        text-align: center;
    }

    .response-form .ss-checkbox {
        display: inline-block;
    }

    .response-form .ss-checkbox + .ss-checkbox {
        margin-left: 5%;
    }

    .response-form .ss-choices label {
        text-align: left;
        width: 100%;
    }
}

@media only screen and (min-width: 990px) {

    html {
        font-size: 170%;
    }

    .locations-container {
        background: url('../img/bath-large.jpg') no-repeat top center;
    }

    .location-map {
        float: left;
        padding-bottom: 25%;
        margin-left: 16%;
        width: 37%;
    }

    .location {
        width: 45%;
    }
}